
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env

# Node
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db

# Database (optional)
fraud_monitor.db

# Logs / temp
*.log